# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Testing "see rules"

I will test if users can say yes to seeing game rules before playing

### Test Data To Use

I will imput "Y" for yes

### Test Result

![test1.gif](screenshots/test1.gif)

The result was as expected

---

## Testing "see rules"

I will test if users can skip seeing game rules before playing

### Test Data Used

I will press enter

### Test Result

![test2.gif](screenshots/test2.gif)

The result was as expected

---

## Testing player names

I will test the entering user names

### Test Data To Use

I will insert the names Bob and NotBob

### Test Result

![test3.gif](screenshots/test3.gif)

the result was as expected

---

## Testing player moves

Testing player ones first move

### Test Data To Use

I will try to input 1

### Test Result
![test4.gif](screenshots/test4.gif)

the result was as expected

---

## Example Test Name

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

